@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    min-height: 1000px;
    background-color: black;
    margin-bottom: 25px;
}
hr {
    margin-top: 0%;
    border-bottom: solid 6px cornflowerblue;
}
h3 {
    font-weight: 200;
    margin-bottom: 10px;
    color:white;
    font: normal 40pt Arial;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1 px;
    -webkit-text-stroke-color: #000;
}
h3:hover {
    transition: ease 0.8s;
    color: orangered;
}
p {
    color: white;
    position: relative;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}
.alinha {
    text-align: center;
    justify-content: center;
    align-items: center;
}
#menu {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 8%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    z-index: 1000;
    transition: 0.6s;
}
#menu.sticky {
    padding: 5px 100px;
    background: rgb(0, 0, 0);
    border-bottom: 1px solid (0,0,0,.1);
}
#menu img {
    height: 6vw;
    width: 15vw;
    transition: 0.6s;
    margin-left: -38%;
}
#menu ul {
    position: relative;
    display: flex;
}
#menu ul li {
    position: relative;
    list-style: none;
    left: -57%;
}
#menu ul li a {
    padding: 21px;
    position: relative;
    margin: 0 30px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 11pt;
    transition: 0.6s;
}
#menu ul li a:hover {
    color: orangered;
}
#menu ul li:hover > ul {
    margin-top: 2.3%;
    position: fixed;
    display: block;
}
.sec {
    padding: 100px;
    min-height: 100vh;
    background: #111111;
}
.conteudo {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.cadas {
    height: 500px;
    width: 600px;
    margin-left: 25%;
}
.text-box input[type=text], input[type=date] {
    border:0;
    background-color: rgba(0, 0, 0, 0);
    display:block;
    margin: 40px auto;
    font-size: 15pt;
    text-align: left;
    border-bottom: 5px solid royalblue;
    padding: 26px 30px;
    width: 400px;
    height: 5px;
    outline: none;
    color: rgb(255,255,255);
    transition: 0.25s;
}
.text-box input[type=text]:focus, input[type=date]:focus {
    border:0;
    background-color: rgba(0, 0, 0, 0);
    display:block;
    margin: 40px auto;
    font-size: 15pt;
    text-align: left;
    border-bottom: 6px solid royalblue;
    box-shadow: 0 0 10px 4px royalblue;
    padding: 26px 30px;
    width: 400px;
    height: 5px;
    outline: none;
    color: rgb(255,255,255);
    transition: 0.25s;
}
input[type=email]::placeholder, input[type=text]::placeholder {
    color: rgb(255,255,255);
}
.btn_enviar {
    border:0;
    background: none;
    display:block;
    margin-left: 124px; 
    text-align: center;
    padding: 24px 30px;
    width: 180px;
    outline: none;
    font-size: 15pt;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}
.btn_limpar {
    border:0;
    background: none;
    display:block;
    margin: -71.8px 304px; 
    text-align: center;
    padding: 24px 30px;
    width: 180px;
    outline: none;
    font-size: 15pt;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}
.btn_enviar:hover {
    background-color: rgb(158, 176, 233);
    color: black;
    box-shadow: 0 0 10px 4px royalblue;
    transition: 1.5s;
}
.btn_limpar:hover {
    background-color: rgb(158, 176, 233);
    color: black;
    box-shadow: 0 0 10px 4px royalblue;
    transition: 1.5s;
}
.sec2 {
    padding: 30px;
    min-height: 45vh;
    background: rgb(25,25,25);
}
.conteudo2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 45vh;
}
.consul {
    height: 500px;
    width: 600px;
    margin-left: 27.5%;
}
.sec3 {
    background: rgb(35, 35, 35);
    min-height: 90vh;
    padding: 50px;
}
.serv {
    padding: 90px;
    display: flex;
}
.icon1 img, .icon2 img, .icon3 img {
    width: 45%;
    height: 48%; 
    margin-left: 28%;  
}
.serv1 h2, .serv2 h2, .serv3 h2 {
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.btn_face, .btn_insta, .btn_link{
    display: inline-block;
    width: 4vw;
    height: 4vw;
    background: #cececec5;
    margin-top: 1vw;
    margin-left: 21vw;
    border-radius: 30%;
    text-align: center;
    color: #fefeff;
}
.btn_face:hover{
    background: cornflowerblue;
}
.btn_insta:hover{
    background: rgba(243, 70, 104, 0.795);
}
.btn_link:hover{
    background: rgb(0, 77, 179);
}
.btn_face i, .btn_insta i, .btn_link i{
    line-height: 4vw;
    font-size: 1.8vw;
    transition: 0.2s linear;
}
.btn_face:hover i, .btn_insta:hover i, .btn_link:hover i{
    transform: scale(1.5);
    color: #f1f1f1;
}
footer p{
    color: white;
    text-align: center;
    margin-left: -30px;
    font-style: italic;
    font-size: 18px;
}
footer p:hover{
    color: rgb(182, 182, 182);
}
@media only screen and (max-width: 1300px) {
    #menu{
        height: 20vw;
    }
    #menu ul{
        background-color: black;
        display: block;
        text-align: center;
        margin-left: 10%;
        margin-top: -10%;
        line-height: 40px;
        height: 100vh;
        padding: 150px;
        z-index: 30;
        right: 400px;
        visibility: hidden;
    }
    #menu img{
        height: 15vw;
        width: 30vw;
        visibility: visible;
    }
    .closebtn{
        visibility:hidden;
        font-size: 30px;
    }
    #close:hover{
        color:cornflowerblue;
        transition: ease-in 0.3s;
    }
    .btn_face, .btn_insta, .btn_link{
        display: inline-block;
        width: 10vw;
        height: 10vw;
        background: #cececec5;
        margin-top: 1vw;
        margin-left: 15vw;
        border-radius: 30%;
        text-align: center;
        color: #fefeff;
    }
    .btn_face i, .btn_insta i, .btn_link i{
        line-height: 4vw;
        font-size: 5vw;
        margin-top: 2.8vw;
        transition: 0.2s linear;
    }
}