@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    min-height: 1000px;
    background-color: black;
    margin-bottom: 25px;
}
html {
    scroll-behavior: smooth;
}
#menu {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 8%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    z-index: 1000;
    transition: 0.6s;
}
#menu.sticky {
    padding: 5px 100px;
    background: rgb(0, 0, 0);
    border-bottom: 1px solid (0,0,0,.1);
}
#menu img {
    height: 6vw;
    width: 15vw;
    transition: 0.6s;
    margin-left: -38%;
}
#menu ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu ul li {
    position: relative;
    list-style: none;
    left: -14.5%;
}
#menu ul li a {
    
    padding: 21px;
    position: relative;
    margin: 0 30px;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 11pt;
    transition: 0.6s;
}
#menu ul li a:hover{
    color: orangered;
}
#menu ul ul{
    margin-top: 10%;
    display: none;
}
#menu ul li:hover > ul {
    margin-top: 2.3%;
    position: fixed;
    display: block;
}
#menu2 li {
    position: fixed;
    padding: 0;
}
#menu2 ul {
    background: #111111;
    padding-top: 8px;
    padding-left: 12px;
    height: 30px;
}
.openmenu {
    font-size: 3vw;
    cursor: pointer;
    color: rgb(255,255,255);
    visibility: hidden;
}
.closebtn {
    visibility: hidden;
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
 
    background-size: cover;
    
    justify-content: center;
    align-items: center;
}
.banner h2 {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5em;
}
.sliders img {
    opacity: 0;
    filter: grayscale(50%);
    position: absolute;
    transition: ease in out 1s;
}
.sliders img.selected {
    opacity: 1;
}
.texts {
    text-align: center;
    text-transform: uppercase;
    width: 150vh;
    height: 30vh;
    margin-top: 20%;
    margin-left: 9%;
    position: absolute;
    display: block;
}
.texts p {
    z-index: 100;
    opacity: 0;
    position: absolute;
    left: 35px;
    display: flex;
    font: bold 40pt Segoe UI;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    text-transform: uppercase;
    text-justify: distribute;
    transition: ease-out 2s;
}
.texts p.first {
    opacity: 1;
}
.sec {
    background: rgb(15, 15, 15);
    padding: 100px;
    min-height: 100vh;
    display: flex;
}
.sec .conteudo {
    position: relative;
    color: white;
    width: 100%;
    margin-top: -5px;
}

.tp1 {
    text-align: left;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-right: 35%;
} 
.tp2 {
    text-align: right;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-left: 35%;
} 
.tp3 {
    text-align: left;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-right: 35%;
}
.sec1 {
    background: rgb(15, 15, 15);
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo1 {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: -5px;
}
.tp11, .tp22, .tp33{
    max-width: 800px;
    margin: 0 auto;
}
hr {
    margin-top: 0%;
    border-bottom: solid 6px cornflowerblue;
}
h3 {
    font-weight: 200;
    margin-bottom: 10px;
    color:white;
    font: normal 40pt Arial;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1 px;
    -webkit-text-stroke-color: #000;
}
h3:hover {
    transition: ease 0.8s;
    color: orangered;
}
p {
    position: relative;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}
.icon1 img, .icon2 img, .icon3 img {
    width: 45%;
    height: 48%; 
    margin-left: 28%;  
}
.serv1 h2, .serv2 h2, .serv3 h2 {
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.sec_serv {
    background: rgb(25, 25, 25);
    padding: 100px;
    min-height: 50vh;
    display: flex;
}
#parte3 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
}
.sec_emp {
    background: rgb(35, 35, 35);
    padding: 100px;
    min-height: 50vh;
    display: flex;
}
#parte4 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
}
.emp1 img, .emp2 img {
    margin-top: -5%;
    width: 45%;
    height: 48%; 
    margin-left: 28%;
}
.emp4 img, .emp5 img, .emp6 img {
    margin-top: 0%;
    width: 45%;
    height: 48%; 
    margin-left: 28%;  
    filter: grayscale(100%);
}
.emp1 img, .emp2 img, .emp3 img, .emp4 img, .emp5 img, .emp6 img {
    filter: grayscale(100%);
}
.emp1 img:hover, .emp2 img:hover, .emp3 img:hover, .emp4 img:hover, .emp5 img:hover, .emp6:hover {
    filter: none;
    transition: 1.2s;
    transform: scale(1.1);
    cursor: pointer;
}
.sec_sus {
    background: rgb(45, 45, 45);
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec_sus p {
    color: rgb(255,255,255);
}
.sec_loc{
    background: rgb(55, 55, 55);
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapa {
    width: 800px;
    height: 450px;
    margin-left: 5%;
    margin-top: 10%;
    border: 6px solid rgb(219, 104, 27);
    box-shadow: 8px 10px 12px;
}
.sec_cont{
    background: rgb(65, 65, 65);
    padding: 100px;
    min-height: 125vh;
}
.form_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}
.faq {
    text-align: center;
    margin-bottom: 5%;
}
.perg {
    color: white;
    text-align: center;
    margin-left: 25%;
    margin-bottom: -2%;
    cursor: pointer;
    background: black;
    width: 50%;
    padding: 20px 5px;
}
.visivel {
    visibility: visible;
}
.invisivel {
    visibility: hidden;
    transition-delay: 1s;
}
.login-box{
    width: 600px;
    height: 500px;
}
.text-box input[type=text], input[type=email]{
    border:0;
    background-color: rgba(0, 0, 0, 0);
    display:block;
    margin: 40px auto;
    font-size: 15pt;
    text-align: left;
    border-bottom: 5px solid royalblue;
    padding: 24px 30px;
    width: 400px;
    height: 5px;
    outline: none;
    color: rgb(255,255,255);
    transition: 0.25s;
}
.text-box input[type=text]:focus, input[type=email]:focus{
    border:0;
    background-color: rgba(0, 0, 0, 0);
    display:block;
    margin: 40px auto;
    font-size: 15pt;
    text-align: left;
    border-bottom: 6px solid royalblue;
    box-shadow: 0 0 10px 4px royalblue;
    padding: 24px 30px;
    width: 400px;
    height: 5px;
    outline: none;
    color: rgb(255,255,255);
    transition: 0.25s;
}
input[type=email]::placeholder, input[type=text]::placeholder{
    color: rgb(255,255,255);
}
.btn_enviar{
    border:0;
    background: none;
    display:block;
    margin-left: 200px; 
    text-align: center;
    padding: 24px 30px;
    width: 180px;
    outline: none;
    font-size: 15pt;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}
.btn_enviar:hover{
    background-color: rgb(158, 176, 233);
    color: black;
    box-shadow: 0 0 10px 4px royalblue;
    transition: 1.5s;
}

.btn_face, .btn_insta, .btn_link{
    display: inline-block;
    width: 4vw;
    height: 4vw;
    background: #cececec5;
    margin-top: 1vw;
    margin-left: 21vw;
    border-radius: 30%;
    text-align: center;
    color: #fefeff;
}
.btn_face:hover{
    background: cornflowerblue;
}
.btn_insta:hover{
    background: rgba(243, 70, 104, 0.795);
}
.btn_link:hover{
    background: rgb(0, 77, 179);
}
.btn_face i, .btn_insta i, .btn_link i{
    line-height: 4vw;
    font-size: 1.8vw;
    transition: 0.2s linear;
}
.btn_face:hover i, .btn_insta:hover i, .btn_link:hover i{
    transform: scale(1.5);
    color: #f1f1f1;
}
footer p{
    color: white;
    text-align: center;
    margin-left: -30px;
    font-style: italic;
    font-size: 18px;
}
footer p:hover{
    color: rgb(182, 182, 182);
}
@keyframes ani_up {
    0%{
        transform: translateY(250px);
    }
    100%{
        transform: translateY(0);
    }
}


@media only screen and (max-width: 1300px){
    #menu{
        height: 20vw;
    }
    #menu ul{
        background-color: black;
        display: block;
        text-align: center;
        margin-left: 10%;
        margin-top: -10%;
        line-height: 40px;
        height: 100vh;
        padding: 150px;
        z-index: 30;
        right: 400px;
        visibility: hidden;
    }
    #menu img{
        height: 15vw;
        width: 30vw;
        visibility: visible;
    }
    .openmenu{
        visibility: visible;
        margin-left: 95px;
        font-size: 30px;
    }
    .openmenu:hover{
        color: rgb(219, 104, 27);
        transition: ease-in 0.3s;
    }
    .closebtn{
        visibility:hidden;
        font-size: 30px;
    }
    #close:hover{
        color:cornflowerblue;
        transition: ease-in 0.3s;
    }
    .banner h2{
        font-size: 25px;
    }
    .btn_face, .btn_insta, .btn_link{
        display: inline-block;
        width: 10vw;
        height: 10vw;
        background: #cececec5;
        margin-top: 1vw;
        margin-left: 15vw;
        border-radius: 30%;
        text-align: center;
        color: #fefeff;
    }
    .btn_face i, .btn_insta i, .btn_link i{
        line-height: 4vw;
        font-size: 5vw;
        margin-top: 2.8vw;
        transition: 0.2s linear;
    }
}